@page
@model EditSlotModel
@{
    ViewData["Title"] = "予約管理";
    var selectedDate = Model.SelectedDate;

    var slot = Model.Slot!;
}

<h1>予約管理</h1>

<partial name="_Navigation" model="@(new NavigationViewModel(selectedDate, "Index") { BackPage = "SlotDetails", SlotId = slot.Id, DayNavigationDisabled = true })" />
<div class="row">
    <div class="col-lg-4">
        <partial name="_Calendar" model="@(new CalendarViewModel(selectedDate, "Index"))" />
    </div>
    <div class="col-lg-8">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1">予約枠 @slot.From.TimeOfDay - @slot.To.TimeOfDay</h3>
        </div>
        <h5 class="font-weight-bold">編集</h5>
        <form method="post">
            <div class="form-group">
                <label>開始時刻</label>
                <input class="form-control" type="time" asp-for="StartTime" />
            </div>
            <div class="form-group">
                <label>予約枠の長さ (分)</label>
                <input class="form-control" type="number" asp-for="DurationMinutes" />
            </div>
            <div class="form-group">
                <label>受入可能件数</label>
                <input class="form-control" type="number" asp-for="CountOfSlot" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">登録</button>
            </div>
        </form>
    </div>
</div>


