@page
@model VaccineAppointment.Web.Pages.Admin.ChangePasswordModel
@{
    ViewData["Title"] = "パスワード変更";
}

@if (!string.IsNullOrEmpty(Model.InfoMessage))
{
    <div class="alert alert-info">
        @Model.InfoMessage
    </div>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}
<h1>パスワード変更</h1>
<form method="post">
    <input type="hidden" class="form-control" asp-for="Username" autocomplete="username" />
    <div class="form-group">
        <label>現在のパスワード</label>
        <input type="password" class="form-control" asp-for="Password" autocomplete="current-password" />
    </div>
    <input type="hidden" class="form-control" asp-for="Username" autocomplete="username" />
    <div class="form-group">
        <label>新しいパスワード</label>
        <input type="password" class="form-control" asp-for="NewPassword" autocomplete="new-password" />
    </div>
    <div class="form-group">
        <label>新しいパスワード (確認)</label>
        <input type="password" class="form-control" asp-for="NewPasswordConfirm" autocomplete="new-password" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block">ログイン</button>
    </div>
</form>